fastapi
uvicorn
pydantic-settings
asyncpg
psycopg2-binary
sqlalchemy
sentence-transformers
langchain
langchain-groq
langchain-text-splitters
langchain-huggingface 
langchain-postgres
langchain-core
langgraph
gitpython
bcrypt
python-jose
passlib
redis